<div class="sitewrapper">

	<div class="main-contentarea">

		<div class="container">
      <div class="row">
        <div class="col-12">
          <div class="add-row-column">
              <form class="main-form command-form" (ngSubmit)="rowColumnForm(rowColumn)" #rowColumn="ngForm">
                  <fieldset class="">
                      <legend>Add Row Column</legend>
                      <div class="row">
                          <div class="form-group col-md-2">
                              <label for="row">Row</label>
                              <input type="number" class="form-control" required ngModel name="row" id="row" placeholder="Add Row">
                          </div>
                          <div class="form-group col-md-2">
                              <label for="column">Column</label>
                              <input type="number" class="form-control" required ngModel name="column" id="column" placeholder="Add Column">
                          </div>
                          <div class="col-md-4 add-row-column_action">
                              <input type="submit" [disabled]="!rowColumn.valid" name="" id="" class="btn btn-primary " value="Add">
                          </div>
                      </div>
                  </fieldset>
              </form>
          </div>
        </div>
        <div class="col-12" *ngIf="command">
            <div *ngIf="indicatorMsg" class="alert alert-danger" role="alert">
                <strong>Indicator Error :</strong> {{indicatorMsg}}
            </div>
            <form class="main-form command-form" #rowColumnCommand="ngForm"  autocomplete="false" >
              <fieldset class="">
                  <legend>Command</legend>
                    <div class="row">
                        <div class="form-group col-md-3">
                            <label for="direction">Direction</label>
                            <input type="number" required ngModel class="form-control" name="direction" id="direction" placeholder="Direction">
                            <small>- (left/down) and + (right/up) of row/col.</small>
                        </div>
                        <div class="form-group col-md-3">
                            <label for="indicator">Indicator</label>
                            <input type="number" required ngModel autocomplete="false"  class="form-control" name="indicator" id="indicator" placeholder="Indicator">
                            <small>(0:row | 1:col)</small>
                        </div>
                        <div class="form-group col-md-3">
                            <label for="index">Index</label>
                            <input type="number" required ngModel autocomplete="false" class="form-control" name="index" id="index" placeholder="Index">
                        </div>
                        <div class="col-md-3 add-row-column_action">
                            <input type="submit" [disabled]="!rowColumnCommand.valid" name="" id="" class="btn btn-primary " value="Apply">
                        </div>
                    </div>
                </fieldset>
            </form>

            <table class="table table-bordered text-center command-table">
                <tr *ngFor="let rowData of rowLoopData; let ri = index" class="row-{{ri+1}}">
                  <td
                  *ngFor="let columnData of columnLoopData; let ci = index;"
                  contenteditable="true"
                  class='column-{{ci+1}}'>
                    {{rowData}}{{columnData}}
                  </td>
                </tr>
              </table>
        </div>
      </div>

		</div>
	</div>

</div>
